/* style.css */

body {
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.payment-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6b5b5b;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
  display: none;

  width: 90%; /* Ajustez la largeur selon vos besoins */
  max-width: 400px; /* Limite la largeur maximale du formulaire */
  height: auto; /* Ajustez la hauteur selon vos besoins */
  max-height: 80%; /* Limite la hauteur maximale du formulaire */


}

@media (max-width: 600px) {
  /* Styles pour les écrans de largeur maximale de 600px (téléphones) */
  .payment-form {
    width: 90%; /* Prend toute la largeur de l'écran */
    max-width: none; /* Pas de limite de largeur maximale */
  }
  
  .payment-form input[type="text"],
.payment-form input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  /* Autres ajustements de style nécessaires pour une meilleure expérience mobile */
}

.payment-form h2 {
  margin-top: 0;
  margin-left: 10px;
}

.payment-form div {
  margin-bottom: 10px;
}

.payment-form label {
  display: block;
  font-weight: bold;
}

.payment-form input[type="text"],
.payment-form input[type="number"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto; /* Centre les éléments horizontalement */
}

.payment-form button[type="submit"]{
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

/* Nouveau style pour le bouton de fermeture */
.payment-form #closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: #0e0b0b;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}